.footer-info {
    font-size: 14px;
    color: $second-text-color;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.email-form {
    display: flex;
    width: 380px;
    height: 40px;
}

.form {
    height: 34px;
    width: 230px;
    font-family: "Roboto";
    font-weight: lighter;
    font-style: italic;
    font-size: 15px;
}

.button {
    width: 150px;
    height: 40px;
    border: none;
    background-color: $icon-color;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-color;
}