$main-font-stack: "Montserrat", "Kaushan Script", "Roboto";

$text-color: #ffffff;
$second-text-color: #333333;
$third-text-color: #999999;
$fourth-text-color: #a6a6a6;

$first-accent-color: #fce38a;
$second-accent-color: #e88283;

$icon-color: #95e1d3;